ExportSetup
History.bak
History.xml
HtmlPanel
MATLABDesktop.xml
MATLABDesktop.xml.prev
MATLAB_Editor_State.xml
MLintDefaultSettings.txt
PrintSetup
WindowsModifiedDefaultSet.xml
cwdhistory.m
dastudio.prf
fop
matlab.settings
matlabprefs.mat
parallel.settings
publish_configurations.m
run_commands.m
shortcuts_2.xml
